poo/aventurasPoo.exe
fundamentos/primer_codigo.obj
.vscode/c_cpp_properties.json
.vscode/tasks.json
poo/aventurasPoo2.exe
poo/aventurasPoo3.exe
poo/aventurasPoo3.ilk
poo/aventurasPoo3.obj
poo/aventurasPoo3.pdb
poo/vc140.pdb
